@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*, ::after, ::before{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after{
    content: ' ';
    clear: both;
    display: block;
}
body{
    font-family: 'Roboto';
    color: #212121;
	letter-spacing: .9px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #212121;
}

.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;
    font-weight: 500;
    font-size: 14px;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 93px;
}
.header-menu {
    display: flex;
    gap: 50px;
    margin-right: auto;
}
.header-menu-item a {
    color: #212121;
    text-decoration: none;
}
.header-menu-item a.active{
    color: #2196F3;
}
.header-menu-item a:hover{
    color: #2196F3;
}
.header-list {
    display: flex;
    gap: 50px;
}
.header-list-item a{
    color: #757575;
    text-decoration: none;
}
.header-list-item a:hover{
    color: #2196F3;
}
/* HERO */
.hero {
    background-color: #2F303A;
    min-height: 600px;
    color: #fff;
    display: flex;
    align-items: center;
}
.container {
    width: 100%;
}
.hero-box {
    max-width: 696px;;
    margin: 0 auto;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.6px;
    margin-bottom: 30px;
}
.hero-btn {
    padding: 17px 46px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    cursor: pointer;
}
.hero-btn:hover{
    background: #1e8feb;
}
.hero-btn:active{
    background: rgb(57, 162, 248);
}
/* DETAILS */
.details {
    padding: 94px 0;
    font-size: 14px;
}
.details-cards {
    display: flex;
    gap: 30px;
}
.details-card {
    flex: 1 1 20%;
}
.details-card-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.details-card-desc {
    font-weight: 400;
    color: #757575;
    line-height: 1.7;
}
/* WORK */
.work {
    padding: 0 0 94px;
}
.work-title {
    margin-bottom: 50px;
}
.work-cards {
    display: flex;
    gap: 30px;
}
.work-card {
    flex: 1 1 30%;
    height: 294px;
}
.work-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* TEAM */
.team {
    background: #f5f4fa;
    padding: 94px 0;
}
.team-title {
    margin: 0 0 50px;
}
.team-cards {
    display: flex;
    gap: 30px;
    text-align: center;
    letter-spacing: 0.9px;
}
.team-card {
    flex: 1 1 20%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}
.team-card-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin: 0 0 30px;
}
.team-card-title {
    font-weight: 500;
    margin: 0 0 10px;
}
.team-card-desc {
    font-weight: 400;
    color: #757575;
    padding: 0 0 30px;
}

/* FOOTER */
.footer {
    padding: 60px 0;
    background: #2F303A;
    font-size: 14px;
    letter-spacing: 0.9px;
}
.footer-logo {
    display: inline-block;
    margin: 0 0 20px;
}
.footer-address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.footer-address p{
    color: #fff;
}
.footer-address a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-address a:hover {
	color: #2196F3;
}